@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&family=Chonburi&family=Fira+Sans:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,400;1,600&display=swap");

:root {
	--font-family-primary: "Poppins", sans-serif;
	--font-family-secondary: "Akshar", sans-serif;
	--font-family-serif: "Chonburi", cursive;
	--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;
}

trix-toolbar [data-trix-button-group="file-tools"] {
	display: none;
}

#view {
	overflow: hidden;
}

#view .date {
	margin: 1rem 0 1.2rem;
	font-size: 1.2rem;
}

#view .title {
	font-family: var(--font-family-serif);
	font-size: 3rem;
	text-align: center;
	font-weight: 700;
}

#view .tagline {
	margin: 1.2rem 0 2rem;
	font-size: 1.3rem;
}

#view .body {
	font-size: 18px;
	line-height: 26px;
	margin: 1rem 0 5rem;
	text-align: justify;
}

#view .body * {
	font-size: 1.15rem !important;
	font-family: var(--font-family-primary) !important;
	line-height: 1.5 !important;
}

.sidebar-heading.categories,
.sidebar-heading.writers,
.sidebar-heading.volumes,
.sidebar-heading.illustrators,
.sidebar-divider.categories,
.sidebar-divider.writers,
.sidebar-divider.volumes,
.sidebar-divider.illustrators {
	display: none;
}
