:root {
  --blue: #3490dc;
  --indigo: #6574cd;
  --purple: #9561e2;
  --pink: #f66D9b;
  --red: #e3342f;
  --orange: #f6993f;
  --yellow: #ffed4a;
  --green: #38c172;
  --teal: #4dc0b5;
  --cyan: #6cb2eb;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #3490dc;
  --secondary: #6c757d;
  --success: #38c172;
  --info: #6cb2eb;
  --warning: #ffed4a;
  --danger: #e3342f;
  --light: #f8f9fa;
  --dark: #0f0f0f;
  --gold: #ffce00;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Akshar", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html, body {
  padding: 0;
  margin: 0;

  font-family: var(--font-family-sans-serif);

  color: var(--dark);
}

.bg-gold {
  background-color: var(--gold);
}

.bg-black {
  background-color: #000;
}

nav.navbar {
  background-color: var(--gold);
  color: #000;
}

nav.navbar .offcanvas {
  background-color: var(--gold);
}

section.hero {
  background: url(../img/kamisan-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

section.hero .hero-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 800px;
}

section.hero .hero-caption h1 {
  font-size: 3.5em;
  line-height: 1.3em;
}

section.hero .hero-caption h5 mark {
  background-color: black;
  color: white;
}

section#news .owl-carousel .item {
  background-color: #38c172;
  height: 15em;
  padding: 1rem;
}

section#majalah .owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

section#majalah .owl-carousel .owl-item img.blur {
  object-fit: cover;
  object-position: center;
  height: 800px;
  filter: blur(2px);
}

@media (max-width: 450px) {
  section.hero .hero-caption h1 {
    font-size: 1.9em;
  }

  section.hero .hero-caption h5 {
    font-size: 1.1em;
  }
}